<template name="postEdit">
  <form class="main form">
    <div class="form-group">
      <lablel class="control-label" for="url">URL</lablel>
      <div class="controls">
        <input name="url" id="url" type="text" value="{{url}}" placeholder="Your URL" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <lablel class="control-label" for="title">Title</lablel>
      <div class="controls">
        <input name="title" id="title" type="text" value="{{title}}" placeholder="Name your post" class="form-control" />
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
    <a href="#" class="btn btn-danger delete">Delete post</a>
  </form>
</template>